<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="AGV2.2-AssemblatoSPN1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.56838 0.25048 0.41228"
        rpy="0 0 0" />
      <mass
        value="27.508" />
      <inertia
        ixx="4.2886"
        ixy="-0.010736"
        ixz="0.0051891"
        iyy="8.2711"
        iyz="-0.00085023"
        izz="4.2714" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://morosai_description/meshes1/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://morosai_description/meshes1/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_left_wheel">
    <inertial>
      <origin
        xyz="-0.067994 -0.15389 -0.045671"
        rpy="0 0 0" />
      <mass
        value="2.9045" />
      <inertia
        ixx="0.0045801"
        ixy="8.1621E-07"
        ixz="-0.00074168"
        iyy="0.005616"
        iyz="3.9655E-06"
        izz="0.0047947" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://morosai_description/meshes/NM175A-Ruota.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://morosai_description/meshes/NM175A-Ruota.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_wheel_joint"
    type="fixed">
    <origin
      xyz="0.094095 -0.85969 0.19635"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="front_left_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="front_right_wheel">
    <inertial>
      <origin
        xyz="-0.067994355960368 0.153892513299337 0.0456712394449888"
        rpy="0 0 0" />
      <mass
        value="2.904469310419" />
      <inertia
        ixx="0.00458012929964188"
        ixy="-8.16206171695503E-07"
        ixz="0.000741678448097534"
        iyy="0.00561604136708303"
        iyz="3.96551218314105E-06"
        izz="0.00479467479360652" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://morosai_description/meshes/NM175A-Ruota.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://morosai_description/meshes/NM175A-Ruota.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_wheel_joint"
    type="fixed">
    <origin
      xyz="0.094095 0.037686 -0.11135"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="front_right_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rear_left_wheel">
    <inertial>
      <origin
        xyz="-0.0679943559604244 -0.153892513299326 -0.0456712394450483"
        rpy="0 0 0" />
      <mass
        value="2.90446931042098" />
      <inertia
        ixx="0.00458012929965168"
        ixy="8.16206173575887E-07"
        ixz="-0.000741678448102401"
        iyy="0.00561604136709495"
        iyz="3.96551218641184E-06"
        izz="0.00479467479361022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://morosai_description/meshes/NM175A-Ruota.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://morosai_description/meshes/NM175A-Ruota.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_left_wheel_joint"
    type="fixed">
    <origin
      xyz="1.0259 -0.85969 -0.11135"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="rear_left_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rear_right_wheel">
    <inertial>
      <origin
        xyz="-0.0679943559604284 0.153892513299325 0.0456712394450465"
        rpy="0 0 0" />
      <mass
        value="2.90446931042097" />
      <inertia
        ixx="0.00458012929965282"
        ixy="-8.16206173013403E-07"
        ixz="0.00074167844810129"
        iyy="0.00561604136709717"
        iyz="3.96551218697627E-06"
        izz="0.00479467479361136" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://morosai_description/meshes/NM175A-Ruota.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://morosai_description/meshes/NM175A-Ruota.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_right_wheel_joint"
    type="fixed">
    <origin
      xyz="1.0259 0.037686 0.19635"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="rear_right_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>